<h3 class="slim">New Hunt</h3>

<form class="form" {{action 'create' model on='submit'}}>
  <div class="form-group">
    {{input type='text' value=model.name class='form-control' required=true placeholder='Name'}}
  </div>

  <div class="form-group">
    {{textarea class='form-control' rows=4 value=model.description placeholder='Description'}}
  </div>

  <h4>Items</h4>

  <ul class="list-group">
    {{#each item in model.items}}
      {{#if item.clue}}
        <li class="list-group-item">
          {{item.description}} <i class="fa fa-pencil pull-right"></i>
        </li>
      {{/if}}
    {{/each}}

    <a class="list-group-item text-center" {{action 'addItem' model}}>
      <i class="fa fa-plus"></i> New Item
    </a>
  </ul>

  <button type="submit" class="btn btn-primary pull-right">Save</button>
</form>
