<h3 class="slim">Stop {{model.number}}</h3>

<form class="form" {{action 'nextStop' on='submit'}}>
  <p>Click the map to add a point, then put your clue below.</p>
  <input type="hidden" {{bind-attr value=model.location}} />

  <div class="form-group">
    {{textarea class='form-control' rows=4 value=model.clue placeholder='Put your clue here' required=true}}
  </div>

  <a class="btn" {{action 'finishHunt' model}}>Done</a>
  <button type="submit" class="btn btn-primary pull-right">Next Stop</button>
</form>
