<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class='navbar-brand'}}Hunt{{/link-to}}
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{#unless session.isLoggedIn}}
            <a {{action 'login' 'google'}}><i class="fa fa-google"></i> Login with Google</a>
          {{else}}
            {{#link-to 'profile' class='gravatar-holder'}}
              {{gravatar-image email=session.user.email alt='Profile' size=34 default='identicon' class='img-circle'}} {{session.user.name}}
            {{/link-to}}
          {{/unless}}
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div id="main">
  {{outlet}}
</div>
